<div class="nagy">
  <span>hello {{title}}</span>
  <br/>
  <span [class]="color">hello {{title}}</span>
  <br/>
  <input [(ngModel)]="title"/>
</div>
<div>
  <span class="kozepes">hello {{title2}}</span>
  <br/>
  <span class="piros kozepes">hello {{title}}</span>
</div>
<button (click)="modify()">modify lesson</button>